<ion-view view-title="党员教育">
	<ion-content>
		<div class="wrap">
			<ul>
				<li>
					<a ng-click="gotoShykList()">
						<img src="../img/ajbl.png">
					</a>
				</li>
				<li>
					<a ng-click="">
						<img src="../img/ajcx.png">
					</a>
				</li>
				<li>
					<a ng-click="">
						<img src="../img/ajtj.png">
					</a>
				</li>
				<li>
					<a ng-click="">
						<img src="../img/alcx.png">
					</a>
				</li>
			</ul>
		</div>
	</ion-content>
	<div class="tabs-striped">
		<div class="tabs tabs-icon-top">
			<a class="tab-item" menu-close href="#/menu/djdt">
				<i class="icon ion-home"></i>
				党建动态
			</a>
			<a class="tab-item active">
				<i class="icon ion-star"></i>
				党员教育
			</a>
			<a class="tab-item" menu-close href="#/menu/dyfw">
				<i class="icon ion-gear-a"></i>
				党员服务
			</a>
		</div>
	</div>
</ion-view>